*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: monospace, monospace;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 8px;
}

.logItem{
  display: flex;
  margin-top: 4px;
}

.inputLine{
  display: flex;
  align-items: center;
  height: 32px;
}

.user{
  color: green;
  font-weight: bold;
  margin-right: 4px;
}

.terminalInput{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: white;
  color: white;
  font-size: 16px;
  font-family: monospace, monospace;
}