*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --text-color: rgb(0, 255, 0);
  --text-shadow: rgb(0, 195, 125);
}

html{
  font-family: monospace, monospace;
  font-size: 16px;
  background-color: rgba(0, 25, 0);
  color: var(--text-color);
  text-shadow: 2px 0px 2px var(--text-shadow);
  padding: 24px;
}

.logItem{
  display: flex;
  margin-top: 4px;
}

.inputLine{
  display: flex;
  align-items: center;
  height: 32px;
}

.user{
  color: var(--text-color);
  font-weight: bold;
  margin-right: 4px;
}

.terminalInput{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: var(--text-color);
  color: var(--text-color);
  text-shadow: 2px 0px 2px var(--text-shadow);
  font-size: 16px;
  font-family: monospace, monospace;
}